:host{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size:125%;
  height: auto !important;
  width: 85vw;
}
.mat-table{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size:120%;
  font-weight: thin;
  list-style: none;
  text-decoration: none;
}
a{
  color:#333;
  font-size:120%;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
}
.mat-card-avatar{
  border-radius:5% !important;
  -webkit-border-radius:5% !important;
  -moz-border-radius:5% !important;
  -ms-border-radius:5% !important;
  -o-border-radius:5% !important;
}
img{
  width: 10vw;
  height: 15vh;

}
.filter{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size:125%;
  font-weight: 700;

}
.filter input{
  color:whitesmoke;
}
.container{
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-end !important;
}
/* #tabla{
margin-left:1rem;
}
 */
