:host{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size:125%;
  height: auto !important;
}
img{
  width: 3vw;
  height: auto;
}
.filter{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size:125%;
  font-weight: 700;

}
.filter input{
  color:whitesmoke;
}

