@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

/* main {
    padding: 10px;
    background-color:#333;
    height:auto;
    background-image: url(../assets/background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
 */
