@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');
:host {
 /*  background-image: url(../../../assets/background.png); */
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
  padding:0;
  margin:0;
  box-sizing: border-box;

}
.container{
  width:90vw;
  height: auto;
}
.mainHome{
 /*  width:30vw;
  height:30vh; */
  background-color: rgba(242, 242, 242, 0.3);
  background-image: url(../../../assets/back2.png);
  background-size: contain;
  margin:2vw;
  color: whitesmoke;

}
.titulo{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  font-weight: thin;
}
.subtitulo{
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 90%; */
  font-weight: thin;
  color:whitesmoke;
}


