<div class="container">
<mat-card class="mainHome">
  <div class="titulo" style="text-align: center">
  <mat-card-title class="titulo">PhotoWeb</mat-card-title>
  <mat-card-subtitle>Your easy way to catch up with art</mat-card-subtitle>
  <img mat-card-avatar src="../assets/background.png">
  </div>
</mat-card>
<mat-card class="mainHome">
  <div class="titulo" style="text-align: center">
  <mat-card-title class="titulo">PhotoWeb</mat-card-title>
  <mat-card-subtitle>Your easy way to catch up with art</mat-card-subtitle>
  <img mat-card-avatar src="../assets/background.png">
  </div>
</mat-card>
<mat-card class="mainHome">
  <div class="titulo" style="text-align: center">
  <mat-card-title class="titulo">PhotoWeb</mat-card-title>
  <mat-card-subtitle>Your easy way to catch up with art</mat-card-subtitle>
  <img mat-card-avatar src="../assets/background.png">
  </div>
</mat-card>
</div>
